body{
  transition: all 0.4s ease;
}

section{
  transition: all 0.4s ease;
}

.card{
  transition: all 0.4s ease;
}

.navbar{
  transition: all 0.4s ease;
}

.btn{
  transition: all 0.3s ease;
}

input,
textarea{
  transition: all 0.3s ease;
}